.Weather {
  border: 3px solid black;
  background-color: #4f95e6;
  padding: 20px;
  margin: 30px auto;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

.Weather h1 {
  color: #878787;
  color: black;
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  height: 64;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight:bolder;
  color: black;
  font-size: 62px;
  font-weight: 200;
  line-height: 60px;
}

.Weather .unit {
  font-size: 14px;
  color: rgb(33, 33, 33);
  font-weight: 400px;
  position: relative;
  line-height: 3;
  top: -30px;
  margin-left: 5px;
}